// 此變數為框架之整體變數，控制整體網站之設定，包含 顏色、文字、格線系統
// 於mixins 資料夾內，各個模組也有其個別使用的變數，請至個別檔案設定，個別使用變數不含在此設定

//----------------------------------幼稚園------------------------------------//
$primaryColor: #f6551f; //主色
$secondaryColor: #ff8960; //輔色
$lightColor: #ffd6c7; //點綴
$linkColor: #fff; //連結

// 連結顏色
$aColor: #791e00;
$aHover: lighten($aColor, 10);

// 表單focus顏色
$form-focus: #f6551f; //表單

//------------------------------安親班----------------------------------//
$primaryColor_B: #8bb920; //主色
$secondaryColor_B: #bdd25c; //輔色
$lightColor_B: #dfeca2; //點綴

// 連結顏色
$aColor_B: #385000;
$aHover_B: lighten($aColor_B, 10);

// 表單focus顏色
$form-focus_B: #8bb920; //表單


$color-blue: #21BAFF;
$color-green: #5CB85C;
$color-orange: #F77810;
$color-red: #FF3E4D;
$color-yellow: #FCC211;
$color-purple: #AA5AC5;
$color-gray: #CCC;
$color-dark: #333;
$color-hr: #666; //hr顏色
$color-word: #000; //一般字的顏色

//-------------------------------------------------------------字型--------//

// 字型設定
$font-family: "Century Gothic", Lato, "PingFang TC", "Helvetica Neue", Helvetica, 微軟正黑體, Arial, sans-serif;
$font-size: 1em;

//-------------------------------------------------------------格線系統-----//

// 格線系統
$grid-columns: 12 !default; //格線欄位數
$grid-gutter-width: 30px !default; //左右padding
$container-max: 820px !default; //container最大寬

//mediaquery
$screen-lg: 1400px !default; //電腦
$screen-md: 992px !default; //平板
$screen-sm: 768px !default; //手機
$screen-xs: 576px !default; //極小尺寸

//-------------------------------------------------------------客製化------//
$fatfooter-length: 6; //fatfooter選單一行個數
$fatfooterBgColor: #F1F1F1; //fatFooter 底色

//-------------------------------------------------------------客製化------//

$rounded-angle: 10px; //整站導角