//header
.header {
    position: relative;
    z-index: 999;
    @extend %clearfix;
    @include screen('mobile') {
        position: fixed;
        width: 100%;
        background: #fff;
    }
    // 虛擬底色 - navigation bg
    &:before {
        content: "";
        width: 100%;
        height: 45px;
        background-color: $primaryColor;
        position: absolute;
        top: 0;
        left: 0;
        @include screen('mobile') {
            display: none;
        }
    }
    &:after{
        content: "";
        width: 100%;
        height: 49px;
        background: url(../images/basic/A/header_border_bottom.png) repeat-x center bottom;
        position: absolute;
        top:0;
        left: 0;
        @include screen('mobile') {
            display: none;
        }
    }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        z-index: 999;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        @include box-sizing;
        @include screen('mobile') {
            display: block !important;
        }
    }
    >.container {
        max-width: 1000px;
        overflow: visible;
        position: relative; // menu
        z-index: 1000;
        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                background: $primaryColor;
                width: 50%;
                height: 4px;
                top: 35%;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 65%;
                }
            }
        }
        // search
        .searchCtrl {
            display: none;
            right: 0px;
            font-size: 0em;
            @extend %mobileCtrlBtn;
            &:before {
                width: 40px;
                height: 40px;
                background: url(../images/basic/icon_search_m.png) no-repeat center center;
                background-size: 28px;
                opacity: .6;
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                display: block;
            }
        }
    }
    h1 {
        //float: left;
        position: relative;
        width: 180px;
        height: 180px;
        margin: 0 0 0 90px;
        padding: 0;
        background: url(../images/basic/logo_bg.png) no-repeat;
        background-position: -10px 0;
        background-size: contain;
        @include box-sizing;
        a {
            display: inline-block;
        }
        img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: calc(50% - 10px);
            left: calc(50%);
            display: block;
            width: 170px;
            height: auto;
        }
        @include screen('tablet') {
            width: 150px;
            height: 150px;
            margin: 0 0 0 10px;
            img{
                width: 140px;
            }
        }
        @include screen('mobile') {
            padding: 2px 60px;
            margin:0;
            width: 100%;
            text-align: center;
            height: 60px;
            background: none;
            box-shadow: 0 0 4px #bbb;
            img {
                position: inherit;
                width: auto;
                height: auto;
                max-height: 54px;
                margin: 0px auto;
                transform: scale(.8);
            }
        }
    }
    // 導覽列
    .navigation {
        &.have_language {
            padding-right: 160px;
        }
        @extend %clearfix;
        overflow: hidden;
        width: 100%;
        margin-bottom: .5em;
        box-sizing:border-box;
        line-height: 2em;
        >ul {
            //float: right;
            padding: 0;
            margin: 0;
            //margin: 0 30px 0 0 \0;
            font-size: .938em;
            list-style: none;
            position: absolute;
            right: 230px;
            bottom: 0;
            top: 0;
            &.left_nav {
                float: left;
                margin-left: 2em;
            }
            >li{
                position: relative;
                &:before{
                    content:"";
                    position: absolute;
                    top: 17px;
                    left: -3px;
                    display: block;
                    width: 1px;
                    height: 1em;
                    background: #fff;
                }
                &:first-child:before{
                    display: none;
                }
            }
        }

        li {
            float: left;
            margin: 0 .2em;
            a {
                display: inline-block;
                padding: .5em;
                text-decoration: none;
                @include aSetting_nocolor;
                &:hover{
                    color: $color-yellow;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                a{
                    padding: .5em .25em;
                }
            }
        }
        .language {
            position: absolute;
            right: 15px;
            top: .35em;
            font-size:.75em;

        }
    }
}

//search
.search {
    // min-width: 25%;
    // max-width: 50%;
    //float: right;
    position: absolute;
    right: 0;
    top: 10px;
    vertical-align: middle;
    padding: 0em .3em 0em;
    @include box-sizing;
    label {
        font-size: 0em;
    }
    form{
        &.form_inline {
            input[type="text"]{
                width: 80%;
                background: darken($primaryColor, 10);
                border: none;
                border-radius: 0;
                &::-webkit-input-placeholder{
                    color: #fff;
                    font-size: .875em;
                    opacity:.8;
                }
                &::-moz-placeholder{
                    color: #fff;
                    font-size: .875em;
                }
                &:-moz-placeholder{
                    color: #fff;
                    font-size: .875em;
                }
            }

        }
    }
    .form_grp {
        margin-bottom: 0;
        margin-right: 0 !important;
        input {
            margin: -0.2em 0 0;
            padding: .2em .5em;
            box-shadow: none;
            &[type="submit"] {
                font-size: 0em;
                width: 30px !important;
                height: 30px;
                // max-width:none;
                // min-width:none;
                background: url(../images/basic/icon_search.png) no-repeat center center;
                background-size: 20px;
                background-image: url(../images/basic/icon_search_ie8.png)\9;
                border: none;
                display: inline-block;
                //margin-left: -40px !important;
                margin-top: -2px !important;
                &:hover, &:focus {
                    opacity: 1;
                    box-shadow: none !important;
                }
            }
        }
    }
    .btn_grp {
        padding: .2em;
        margin-bottom: 0;
        input, input[type="submit"] {
            margin: 0;
            padding: .4em 1em .4em !important;
            font-size: .813em;
        }
    }
    .keywordHot {
        display: inline-block;
        vertical-align: middle;
        margin-left: .5em;
        padding: .1em 0 .3em;
        ul {
            display: inline-block;
            font-size: .813em;
            line-height: 1.65em;
            margin: 0;
            padding: 0;
            &:before {
                display: inline-block;
                content: "";
                color: #999;
                float: left;
            }
            li {
                margin: 0 .6em 0 0;
                padding: 0;
                display: inline-block;
            }
            a {
                @include aSetting_nocolor;
            }
        }
    }
    // m_search
    &.m_search {
        width: 100% !important;
        max-width: 100% !important;
        min-width: auto;
        padding: .2em .3em .5em;
        display: block;
        height: auto;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 98;
        background: #333;
        label {
            font-size: 0em;
            line-height: 0;
        }
        .form_grp {
            width: 80%;
            height: auto;
            padding: 0 0 0 5% !important;
            margin-top: 15px;
            text-align: right;
            float: left;
            height: 40px;
            position: relative;
            @include box-sizing();
            input {
                width: 100%;
                margin: -0.2em 0 0;
                padding: .5em 45px .4em .5em;
                &[type="submit"] {
                    font-size: 0em;
                    width: 36px !important;
                    height: 36px;
                    padding: 0;
                    // max-width:none;
                    // min-width:none;
                    background: url(../images/basic/icon_search.png) no-repeat center center;
                    background-size: 24px;
                    border: none;
                    display: inline-block;
                    // margin-left: -50px !important;
                    position: absolute;
                    right: 0;
                    top: 0;
                    opacity: .8;
                    // outline:1px solid red;
                    &:hover, &:focus {
                        opacity: 1;
                    }
                }
            }
        }
        .btn_grp {
            display: inline-block;
            padding: .2em;
            margin-bottom: 0;
            width: 30%;
            margin-top: 20px;
            padding-left: 5%;
            @include box-sizing();
            input {
                width: 100% !important;
                padding: .6em .5em !important;
                margin: 0;
            }
        }
        .keywordHot {
            padding-left: 5%;
            margin-top: 10px;
            @extend %clearfix;
            a {
                color: #FFF;
                &:hover,
                &:focus {
                    color: $primaryColor;
                }
            }
        }
    }
}
// header fix
.header.fixed {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    @include screen('mobile') {
        background: #FFF;
    }
    .menu {
        >ul {
            >li {
                >a {
                    color: #FFF;
                }
            }
        }
    }
}